<section class="home">
  <h2>{{welcome}}</h2>
  <p>{{description}}</p>

  <ul>
    <li><a href="/airbnbs">View all Airbnb listings</a></li>
    <li><a href="/airbnbs/add">Add a new listing</a></li>
    <li><a href="/airbnbs/api">API: GET all (JSON)</a></li>
  </ul>
</section>
